In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import tensorflow as tf

In [2]:
train_data = 'C:\\Users\\ry12n\\OneDrive\\Documents\\GitHub\\ASLTranslator\\asl-alphabet\\asl_alphabet_train\\asl_alphabet_train\\'
test_data = 'C:\\Users\\ry12n\\OneDrive\\Documents\\GitHub\\ASLTranslator\\asl-alphabet\\asl_alphabet_test\\asl_alphabet_test\\'

letters = ['A', 'B', 'C']

In [3]:
train_dirs = []
for i in letters:
    train_letter = train_data + str(i) + '\\'
    train_dirs.append(train_letter)

In [4]:
train_dirs

['C:\\Users\\ry12n\\OneDrive\\Documents\\GitHub\\ASLTranslator\\asl-alphabet\\asl_alphabet_train\\asl_alphabet_train\\A\\',
 'C:\\Users\\ry12n\\OneDrive\\Documents\\GitHub\\ASLTranslator\\asl-alphabet\\asl_alphabet_train\\asl_alphabet_train\\B\\',
 'C:\\Users\\ry12n\\OneDrive\\Documents\\GitHub\\ASLTranslator\\asl-alphabet\\asl_alphabet_train\\asl_alphabet_train\\C\\']

In [5]:
from os import listdir
from os.path import isfile, join


x_train = {}

for i in range(len(train_dirs)):
    d = train_dirs[i]
    l = letters[i]
    files = [join(d, f) for f in listdir(d) if isfile(join(d, f))]
    x_train[l] = files

In [6]:
df_pics = pd.DataFrame(x_train)
df_pics

,A,B,C
0,C:\Users\ry12n\OneDrive\Documents\GitHub\ASLTr...,C:\Users\ry12n\OneDrive\Documents\GitHub\ASLTr...,C:\Users\ry12n\OneDrive\Documents\GitHub\ASLTr...
1,C:\Users\ry12n\OneDrive\Documents\GitHub\ASLTr...,C:\Users\ry12n\OneDrive\Documents\GitHub\ASLTr...,C:\Users\ry12n\OneDrive\Documents\GitHub\ASLTr...
2,C:\Users\ry12n\OneDrive\Documents\GitHub\ASLTr...,C:\Users\ry12n\OneDrive\Documents\GitHub\ASLTr...,C:\Users\ry12n\OneDrive\Documents\GitHub\ASLTr...
3,C:\Users\ry12n\OneDrive\Documents\GitHub\ASLTr...,C:\Users\ry12n\OneDrive\Documents\GitHub\ASLTr...,C:\Users\ry12n\OneDrive\Documents\GitHub\ASLTr...
4,C:\Users\ry12n\OneDrive\Documents\GitHub\ASLTr...,C:\Users\ry12n\OneDrive\Documents\GitHub\ASLTr...,C:\Users\ry12n\OneDrive\Documents\GitHub\ASLTr...
...,...,...,...
2995,C:\Users\ry12n\OneDrive\Documents\GitHub\ASLTr...,C:\Users\ry12n\OneDrive\Documents\GitHub\ASLTr...,C:\Users\ry12n\OneDrive\Documents\GitHub\ASLTr...
2996,C:\Users\ry12n\OneDrive\Documents\GitHub\ASLTr...,C:\Users\ry12n\OneDrive\Documents\GitHub\ASLTr...,C:\Users\ry12n\OneDrive\Documents\GitHub\ASLTr...
2997,C:\Users\ry12n\OneDrive\Documents\GitHub\ASLTr...,C:\Users\ry12n\OneDrive\Documents\GitHub\ASLTr...,C:\Users\ry12n\OneDrive\Documents\GitHub\ASLTr...
2998,C:\Users\ry12n\OneDrive\Documents\GitHub\ASLTr...,C:\Users\ry12n\OneDrive\Documents\GitHub\ASLTr...,C:\Users\ry12n\OneDrive\Documents\GitHub\ASLTr...
2999,C:\Users\ry12n\OneDrive\Documents\GitHub\ASLTr...,C:\Users\ry12n\OneDrive\Documents\GitHub\ASLTr...,C:\Users\ry12n\OneDrive\Documents\GitHub\ASLTr...

In [7]:
import cv2

def convert_img(filename):
        img_data = cv2.imread(filename, 0)
        return img_data

In [8]:
a = convert_img(df_pics.A[0])

In [9]:
a.max()

201

In [10]:
data = {}

cols = df_pics.columns

cols

Index(['A', 'B', 'C'], dtype='object')

In [11]:
for i in cols:
    convert_vals = np.array(list(map(lambda x: convert_img(x) / 255.0, df_pics[i])))
    data[i] = convert_vals

In [12]:
clean_data1 = data['A'].reshape((3000, -1))
output = [0] * 3000
clean_data2 = data['B'].reshape((3000, -1))
output2 = [1] * 3000
output = output + output2
clean_data3 = data['C'].reshape((3000, -1))
output3 = [2] * 3000
output = output + output3

In [13]:
clean_data = np.array(list(clean_data1) + list(clean_data2) + list(clean_data3))
clean_data.shape

(9000, 40000)

In [14]:
df = pd.DataFrame(clean_data)
df

,0,1,2,3,4,5,6,7,8,9,...,39990,39991,39992,39993,39994,39995,39996,39997,39998,39999
0,0.117647,0.109804,0.121569,0.105882,0.109804,0.113725,0.109804,0.113725,0.113725,0.113725,...,0.109804,0.109804,0.105882,0.109804,0.113725,0.117647,0.113725,0.113725,0.125490,0.105882
1,0.117647,0.109804,0.113725,0.113725,0.105882,0.113725,0.113725,0.113725,0.113725,0.109804,...,0.113725,0.109804,0.105882,0.109804,0.121569,0.113725,0.109804,0.117647,0.117647,0.113725
2,0.121569,0.105882,0.117647,0.109804,0.113725,0.117647,0.117647,0.113725,0.113725,0.113725,...,0.113725,0.109804,0.109804,0.101961,0.117647,0.117647,0.109804,0.113725,0.117647,0.113725
3,0.113725,0.109804,0.113725,0.113725,0.117647,0.109804,0.117647,0.109804,0.113725,0.109804,...,0.113725,0.113725,0.113725,0.109804,0.121569,0.113725,0.105882,0.117647,0.117647,0.109804
4,0.113725,0.117647,0.101961,0.117647,0.113725,0.121569,0.109804,0.109804,0.113725,0.113725,...,0.113725,0.117647,0.113725,0.098039,0.121569,0.113725,0.113725,0.109804,0.113725,0.117647
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8995,0.113725,0.113725,0.113725,0.117647,0.109804,0.121569,0.105882,0.113725,0.109804,0.113725,...,0.113725,0.113725,0.117647,0.109804,0.113725,0.117647,0.113725,0.113725,0.109804,0.117647
8996,0.113725,0.113725,0.113725,0.113725,0.105882,0.121569,0.109804,0.113725,0.113725,0.113725,...,0.113725,0.113725,0.121569,0.109804,0.109804,0.113725,0.117647,0.105882,0.113725,0.117647
8997,0.109804,0.121569,0.109804,0.121569,0.109804,0.117647,0.113725,0.113725,0.117647,0.113725,...,0.113725,0.109804,0.113725,0.113725,0.117647,0.109804,0.113725,0.105882,0.117647,0.117647
8998,0.113725,0.121569,0.105882,0.121569,0.113725,0.117647,0.117647,0.113725,0.113725,0.117647,...,0.113725,0.113725,0.113725,0.113725,0.113725,0.113725,0.113725,0.113725,0.113725,0.109804
8999,0.109804,0.117647,0.101961,0.117647,0.113725,0.117647,0.113725,0.109804,0.113725,0.113725,...,0.113725,0.109804,0.113725,0.113725,0.113725,0.109804,0.113725,0.109804,0.121569,0.113725

In [15]:
output = np.array(output)
output.shape

(9000,)

In [16]:
df['Classes'] = output

In [17]:
df

,0,1,2,3,4,5,6,7,8,9,...,39991,39992,39993,39994,39995,39996,39997,39998,39999,Classes
0,0.117647,0.109804,0.121569,0.105882,0.109804,0.113725,0.109804,0.113725,0.113725,0.113725,...,0.109804,0.105882,0.109804,0.113725,0.117647,0.113725,0.113725,0.125490,0.105882,0
1,0.117647,0.109804,0.113725,0.113725,0.105882,0.113725,0.113725,0.113725,0.113725,0.109804,...,0.109804,0.105882,0.109804,0.121569,0.113725,0.109804,0.117647,0.117647,0.113725,0
2,0.121569,0.105882,0.117647,0.109804,0.113725,0.117647,0.117647,0.113725,0.113725,0.113725,...,0.109804,0.109804,0.101961,0.117647,0.117647,0.109804,0.113725,0.117647,0.113725,0
3,0.113725,0.109804,0.113725,0.113725,0.117647,0.109804,0.117647,0.109804,0.113725,0.109804,...,0.113725,0.113725,0.109804,0.121569,0.113725,0.105882,0.117647,0.117647,0.109804,0
4,0.113725,0.117647,0.101961,0.117647,0.113725,0.121569,0.109804,0.109804,0.113725,0.113725,...,0.117647,0.113725,0.098039,0.121569,0.113725,0.113725,0.109804,0.113725,0.117647,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8995,0.113725,0.113725,0.113725,0.117647,0.109804,0.121569,0.105882,0.113725,0.109804,0.113725,...,0.113725,0.117647,0.109804,0.113725,0.117647,0.113725,0.113725,0.109804,0.117647,2
8996,0.113725,0.113725,0.113725,0.113725,0.105882,0.121569,0.109804,0.113725,0.113725,0.113725,...,0.113725,0.121569,0.109804,0.109804,0.113725,0.117647,0.105882,0.113725,0.117647,2
8997,0.109804,0.121569,0.109804,0.121569,0.109804,0.117647,0.113725,0.113725,0.117647,0.113725,...,0.109804,0.113725,0.113725,0.117647,0.109804,0.113725,0.105882,0.117647,0.117647,2
8998,0.113725,0.121569,0.105882,0.121569,0.113725,0.117647,0.117647,0.113725,0.113725,0.117647,...,0.113725,0.113725,0.113725,0.113725,0.113725,0.113725,0.113725,0.113725,0.109804,2
8999,0.109804,0.117647,0.101961,0.117647,0.113725,0.117647,0.113725,0.109804,0.113725,0.113725,...,0.109804,0.113725,0.113725,0.113725,0.109804,0.113725,0.109804,0.121569,0.113725,2

In [18]:
df

,0,1,2,3,4,5,6,7,8,9,...,39991,39992,39993,39994,39995,39996,39997,39998,39999,Classes
0,0.117647,0.109804,0.121569,0.105882,0.109804,0.113725,0.109804,0.113725,0.113725,0.113725,...,0.109804,0.105882,0.109804,0.113725,0.117647,0.113725,0.113725,0.125490,0.105882,0
1,0.117647,0.109804,0.113725,0.113725,0.105882,0.113725,0.113725,0.113725,0.113725,0.109804,...,0.109804,0.105882,0.109804,0.121569,0.113725,0.109804,0.117647,0.117647,0.113725,0
2,0.121569,0.105882,0.117647,0.109804,0.113725,0.117647,0.117647,0.113725,0.113725,0.113725,...,0.109804,0.109804,0.101961,0.117647,0.117647,0.109804,0.113725,0.117647,0.113725,0
3,0.113725,0.109804,0.113725,0.113725,0.117647,0.109804,0.117647,0.109804,0.113725,0.109804,...,0.113725,0.113725,0.109804,0.121569,0.113725,0.105882,0.117647,0.117647,0.109804,0
4,0.113725,0.117647,0.101961,0.117647,0.113725,0.121569,0.109804,0.109804,0.113725,0.113725,...,0.117647,0.113725,0.098039,0.121569,0.113725,0.113725,0.109804,0.113725,0.117647,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8995,0.113725,0.113725,0.113725,0.117647,0.109804,0.121569,0.105882,0.113725,0.109804,0.113725,...,0.113725,0.117647,0.109804,0.113725,0.117647,0.113725,0.113725,0.109804,0.117647,2
8996,0.113725,0.113725,0.113725,0.113725,0.105882,0.121569,0.109804,0.113725,0.113725,0.113725,...,0.113725,0.121569,0.109804,0.109804,0.113725,0.117647,0.105882,0.113725,0.117647,2
8997,0.109804,0.121569,0.109804,0.121569,0.109804,0.117647,0.113725,0.113725,0.117647,0.113725,...,0.109804,0.113725,0.113725,0.117647,0.109804,0.113725,0.105882,0.117647,0.117647,2
8998,0.113725,0.121569,0.105882,0.121569,0.113725,0.117647,0.117647,0.113725,0.113725,0.117647,...,0.113725,0.113725,0.113725,0.113725,0.113725,0.113725,0.113725,0.113725,0.109804,2
8999,0.109804,0.117647,0.101961,0.117647,0.113725,0.117647,0.113725,0.109804,0.113725,0.113725,...,0.109804,0.113725,0.113725,0.113725,0.109804,0.113725,0.109804,0.121569,0.113725,2

In [19]:
x = df.iloc[:, 0:-1]
x

,0,1,2,3,4,5,6,7,8,9,...,39990,39991,39992,39993,39994,39995,39996,39997,39998,39999
0,0.117647,0.109804,0.121569,0.105882,0.109804,0.113725,0.109804,0.113725,0.113725,0.113725,...,0.109804,0.109804,0.105882,0.109804,0.113725,0.117647,0.113725,0.113725,0.125490,0.105882
1,0.117647,0.109804,0.113725,0.113725,0.105882,0.113725,0.113725,0.113725,0.113725,0.109804,...,0.113725,0.109804,0.105882,0.109804,0.121569,0.113725,0.109804,0.117647,0.117647,0.113725
2,0.121569,0.105882,0.117647,0.109804,0.113725,0.117647,0.117647,0.113725,0.113725,0.113725,...,0.113725,0.109804,0.109804,0.101961,0.117647,0.117647,0.109804,0.113725,0.117647,0.113725
3,0.113725,0.109804,0.113725,0.113725,0.117647,0.109804,0.117647,0.109804,0.113725,0.109804,...,0.113725,0.113725,0.113725,0.109804,0.121569,0.113725,0.105882,0.117647,0.117647,0.109804
4,0.113725,0.117647,0.101961,0.117647,0.113725,0.121569,0.109804,0.109804,0.113725,0.113725,...,0.113725,0.117647,0.113725,0.098039,0.121569,0.113725,0.113725,0.109804,0.113725,0.117647
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8995,0.113725,0.113725,0.113725,0.117647,0.109804,0.121569,0.105882,0.113725,0.109804,0.113725,...,0.113725,0.113725,0.117647,0.109804,0.113725,0.117647,0.113725,0.113725,0.109804,0.117647
8996,0.113725,0.113725,0.113725,0.113725,0.105882,0.121569,0.109804,0.113725,0.113725,0.113725,...,0.113725,0.113725,0.121569,0.109804,0.109804,0.113725,0.117647,0.105882,0.113725,0.117647
8997,0.109804,0.121569,0.109804,0.121569,0.109804,0.117647,0.113725,0.113725,0.117647,0.113725,...,0.113725,0.109804,0.113725,0.113725,0.117647,0.109804,0.113725,0.105882,0.117647,0.117647
8998,0.113725,0.121569,0.105882,0.121569,0.113725,0.117647,0.117647,0.113725,0.113725,0.117647,...,0.113725,0.113725,0.113725,0.113725,0.113725,0.113725,0.113725,0.113725,0.113725,0.109804
8999,0.109804,0.117647,0.101961,0.117647,0.113725,0.117647,0.113725,0.109804,0.113725,0.113725,...,0.113725,0.109804,0.113725,0.113725,0.113725,0.109804,0.113725,0.109804,0.121569,0.113725

In [20]:
y = df.Classes
y

0       0
1       0
2       0
3       0
4       0
       ..
8995    2
8996    2
8997    2
8998    2
8999    2
Name: Classes, Length: 9000, dtype: int32

In [21]:
from sklearn.naive_bayes import MultinomialNB

model = MultinomialNB()

In [22]:
model.fit(x, y)

MultinomialNB()

In [23]:
pred = model.predict(x)

train_acc = np.mean(pred == y)
train_acc

0.5163333333333333

In [45]:
from tensorflow.keras import layers
model = tf.keras.Sequential()

# add the hidden layers to the CNN
model.add(layers.Conv2D(64, 3, activation='relu', input_shape=(200, 200, 1)))  # hidden layers
model.add(layers.MaxPooling2D((2, 2)))
model.add(layers.Conv2D(64, 1, activation='relu'))  # more layers ...
model.add(layers.MaxPooling2D((2, 2)))
model.add(layers.Conv2D(64, 1, activation='relu'))
model.add(layers.Dropout(0.1))
model.add(layers.Flatten())
model.add(layers.Dense(64, activation='relu'))
model.add(layers.Dense(32, activation='relu'))
model.add(layers.Dense(3, activation='softmax'))  # get the softmax

In [46]:
model.compile(optimizer='adam',
              loss=tf.keras.losses.SparseCategoricalCrossentropy(),
              metrics=['accuracy'])

In [47]:
x = np.array(x).reshape((9000, 200, 200, 1))
x

array([[[[0.11764706],
         [0.10980392],
         [0.12156863],
         ...,
         [0.10980392],
         [0.1254902 ],
         [0.10196078]],

        [[0.11372549],
         [0.10980392],
         [0.1254902 ],
         ...,
         [0.12156863],
         [0.10196078],
         [0.13333333]],

        [[0.10588235],
         [0.12156863],
         [0.18431373],
         ...,
         [0.72941176],
         [0.71372549],
         [0.10196078]],

        ...,

        [[0.1254902 ],
         [0.09803922],
         [0.55686275],
         ...,
         [0.5372549 ],
         [0.54509804],
         [0.10588235]],

        [[0.10980392],
         [0.12156863],
         [0.54117647],
         ...,
         [0.54901961],
         [0.51372549],
         [0.1254902 ]],

        [[0.10980392],
         [0.11764706],
         [0.10980392],
         ...,
         [0.11372549],
         [0.1254902 ],
         [0.10588235]]],


       [[[0.11764706],
         [0.10980392],
         [0.11372549],
         ...,
         [0.11372549],
         [0.10980392],
         [0.11372549]],

        [[0.11372549],
         [0.10980392],
         [0.11764706],
         ...,
         [0.10980392],
         [0.10588235],
         [0.12156863]],

        [[0.10980392],
         [0.12156863],
         [0.17254902],
         ...,
         [0.7372549 ],
         [0.71372549],
         [0.10588235]],

        ...,

        [[0.12156863],
         [0.10980392],
         [0.53333333],
         ...,
         [0.53333333],
         [0.54117647],
         [0.10980392]],

        [[0.10588235],
         [0.1254902 ],
         [0.52941176],
         ...,
         [0.5372549 ],
         [0.51372549],
         [0.11372549]],

        [[0.11372549],
         [0.11764706],
         [0.10980392],
         ...,
         [0.11764706],
         [0.11764706],
         [0.11372549]]],


       [[[0.12156863],
         [0.10588235],
         [0.11764706],
         ...,
         [0.12156863],
         [0.12156863],
         [0.10588235]],

        [[0.11372549],
         [0.10196078],
         [0.1254902 ],
         ...,
         [0.09803922],
         [0.10588235],
         [0.12156863]],

        [[0.11372549],
         [0.1254902 ],
         [0.18823529],
         ...,
         [0.73333333],
         [0.70588235],
         [0.10588235]],

        ...,

        [[0.12156863],
         [0.10588235],
         [0.54117647],
         ...,
         [0.53333333],
         [0.54509804],
         [0.10980392]],

        [[0.10588235],
         [0.1254902 ],
         [0.53333333],
         ...,
         [0.53333333],
         [0.51372549],
         [0.11372549]],

        [[0.11372549],
         [0.11764706],
         [0.10980392],
         ...,
         [0.11372549],
         [0.11764706],
         [0.11372549]]],


       ...,


       [[[0.10980392],
         [0.12156863],
         [0.10980392],
         ...,
         [0.11764706],
         [0.10980392],
         [0.11372549]],

        [[0.11764706],
         [0.09803922],
         [0.12941176],
         ...,
         [0.11764706],
         [0.10980392],
         [0.10980392]],

        [[0.11764706],
         [0.1254902 ],
         [0.30196078],
         ...,
         [0.83137255],
         [0.82745098],
         [0.11764706]],

        ...,

        [[0.10980392],
         [0.11372549],
         [0.12941176],
         ...,
         [0.64313725],
         [0.67058824],
         [0.11372549]],

        [[0.11764706],
         [0.11764706],
         [0.12941176],
         ...,
         [0.66666667],
         [0.65098039],
         [0.10588235]],

        [[0.10980392],
         [0.10980392],
         [0.11372549],
         ...,
         [0.10588235],
         [0.11764706],
         [0.11764706]]],


       [[[0.11372549],
         [0.12156863],
         [0.10588235],
         ...,
         [0.12156863],
         [0.10588235],
         [0.11764706]],

        [[0.11764706],
         [0.09803922],
         [0.1254902 ],
         ...,
         [0.11372549],
         [0.10196078],
         [0.1254902 ]],

        [[0.11372549],
         [0.12941176],
         [0.29411765],
         ...,
         [0.83529412],
         [0.80784314],
         [0.10196078]],

        ...,

        [[0.11372549],
         [0.11372549],
         [0.1254902 ],
         ...,
         [0.65098039],
         [0.6627451 ],
         [0.10980392]],

        [[0.11764706],
         [0.11372549],
         [0.12156863],
         ...,
         [0.66666667],
         [0.65098039],
         [0.11764706]],

        [[0.11372549],
         [0.10980392],
         [0.11764706],
         ...,
         [0.11372549],
         [0.11372549],
         [0.10980392]]],


       [[[0.10980392],
         [0.11764706],
         [0.10196078],
         ...,
         [0.11372549],
         [0.10588235],
         [0.11764706]],

        [[0.12156863],
         [0.10196078],
         [0.12941176],
         ...,
         [0.12941176],
         [0.11372549],
         [0.11764706]],

        [[0.10588235],
         [0.12156863],
         [0.28627451],
         ...,
         [0.83137255],
         [0.82745098],
         [0.09803922]],

        ...,

        [[0.11372549],
         [0.11372549],
         [0.11764706],
         ...,
         [0.64705882],
         [0.66666667],
         [0.11372549]],

        [[0.11372549],
         [0.11764706],
         [0.11764706],
         ...,
         [0.65882353],
         [0.65098039],
         [0.11372549]],

        [[0.11372549],
         [0.11372549],
         [0.11372549],
         ...,
         [0.10980392],
         [0.12156863],
         [0.11372549]]]])

In [48]:
model.fit(x, y, epochs=10)

Epoch 1/10
282/282 [==============================] - 8s 26ms/step - loss: 0.6304 - accuracy: 0.7156
Epoch 2/10
282/282 [==============================] - 7s 25ms/step - loss: 0.1478 - accuracy: 0.9463
Epoch 3/10
282/282 [==============================] - 7s 25ms/step - loss: 0.0614 - accuracy: 0.9791
Epoch 4/10
282/282 [==============================] - 7s 25ms/step - loss: 0.0307 - accuracy: 0.9883
Epoch 5/10
282/282 [==============================] - 7s 25ms/step - loss: 0.0369 - accuracy: 0.9871
Epoch 6/10
282/282 [==============================] - 7s 25ms/step - loss: 0.0171 - accuracy: 0.9946
Epoch 7/10
282/282 [==============================] - 7s 25ms/step - loss: 0.0091 - accuracy: 0.9972
Epoch 8/10
282/282 [==============================] - 7s 25ms/step - loss: 0.0178 - accuracy: 0.9949
Epoch 9/10
282/282 [==============================] - 7s 25ms/step - loss: 0.0038 - accuracy: 0.9988
Epoch 10/10
282/282 [==============================] - 7s 25ms/step - loss: 0.0133 - accuracy: 0.9958

In [49]:
pred = model.predict(x)

pred.shape

(9000, 3)

In [50]:
p = np.argmax(pred, axis=1)
p.shape

(9000,)

In [51]:
np.mean(p == y)

0.9988888888888889

In [52]:
test_dir = []
for i in letters:
    test_letter = test_data + str(i) + '\\'
    test_dir.append(test_letter)

In [53]:
from os import listdir
from os.path import isfile, join


x_test = {}

for i in range(len(test_dir)):
    d = test_dir[i]
    l = letters[i]
    files = [join(d, f) for f in listdir(d) if isfile(join(d, f))]
    x_test[l] = files

In [54]:
df_pics_test = pd.DataFrame(x_test)
df_pics_test

,A,B,C
0,C:\Users\ry12n\OneDrive\Documents\GitHub\ASLTr...,C:\Users\ry12n\OneDrive\Documents\GitHub\ASLTr...,C:\Users\ry12n\OneDrive\Documents\GitHub\ASLTr...

In [55]:
data_test = {}

cols = df_pics.columns

cols

Index(['A', 'B', 'C'], dtype='object')

In [56]:
for i in cols:
    convert_vals = np.array(list(map(lambda x: convert_img(x) / 255.0, df_pics_test[i])))
    data_test[i] = convert_vals
data_test

{'A': array([[[0.11764706, 0.10588235, 0.11372549, ..., 0.10588235,
          0.11372549, 0.12156863],
         [0.11764706, 0.11764706, 0.12156863, ..., 0.12156863,
          0.10196078, 0.10980392],
         [0.09803922, 0.1254902 , 0.35294118, ..., 0.48235294,
          0.50196078, 0.11764706],
         ...,
         [0.10196078, 0.10980392, 0.30196078, ..., 0.51764706,
          0.54509804, 0.10980392],
         [0.10980392, 0.14117647, 0.2745098 , ..., 0.54509804,
          0.52156863, 0.12156863],
         [0.11764706, 0.10588235, 0.10980392, ..., 0.10196078,
          0.12941176, 0.10588235]]]),
 'B': array([[[0.11764706, 0.10980392, 0.10980392, ..., 0.10980392,
          0.12156863, 0.10980392],
         [0.11372549, 0.10588235, 0.1254902 , ..., 0.11372549,
          0.10588235, 0.11372549],
         [0.10588235, 0.11764706, 0.19215686, ..., 0.72941176,
          0.71372549, 0.12156863],
         ...,
         [0.12156863, 0.09803922, 0.56470588, ..., 0.54117647,
          0.56078431, 0.11372549],
         [0.10588235, 0.12156863, 0.54509804, ..., 0.54117647,
          0.53333333, 0.11764706],
         [0.10980392, 0.11764706, 0.10196078, ..., 0.11764706,
          0.11764706, 0.10980392]]]),
 'C': array([[[0.10980392, 0.12156863, 0.10588235, ..., 0.10980392,
          0.11764706, 0.10980392],
         [0.11764706, 0.11372549, 0.12156863, ..., 0.11764706,
          0.10588235, 0.1254902 ],
         [0.10980392, 0.11764706, 0.21568627, ..., 0.74509804,
          0.72941176, 0.09803922],
         ...,
         [0.11764706, 0.10588235, 0.58039216, ..., 0.57647059,
          0.58823529, 0.10196078],
         [0.11372549, 0.10980392, 0.57647059, ..., 0.56862745,
          0.56078431, 0.12156863],
         [0.11372549, 0.11764706, 0.10980392, ..., 0.10980392,
          0.12941176, 0.10588235]]])}

In [57]:
clean_data1 = data_test['A'].reshape((1, -1))
output_test = [0]
clean_data2 = data_test['B'].reshape((1, -1))
output2 = [1]
output_test = output_test + output2
clean_data3 = data_test['C'].reshape((1, -1))
output3 = [2]
output_test = output_test + output3
output_test

[0, 1, 2]

In [58]:
clean_data_test = np.array(list(clean_data1) + list(clean_data2) + list(clean_data3))
clean_data_test.shape

(3, 40000)

In [59]:
df_test = pd.DataFrame(clean_data_test)
df_test

,0,1,2,3,4,5,6,7,8,9,...,39990,39991,39992,39993,39994,39995,39996,39997,39998,39999
0,0.117647,0.105882,0.113725,0.109804,0.113725,0.121569,0.117647,0.113725,0.113725,0.109804,...,0.113725,0.109804,0.101961,0.113725,0.109804,0.121569,0.109804,0.101961,0.129412,0.105882
1,0.117647,0.109804,0.109804,0.109804,0.113725,0.113725,0.117647,0.109804,0.113725,0.109804,...,0.113725,0.113725,0.109804,0.113725,0.109804,0.121569,0.105882,0.117647,0.117647,0.109804
2,0.109804,0.121569,0.105882,0.117647,0.129412,0.101961,0.121569,0.109804,0.113725,0.113725,...,0.113725,0.113725,0.113725,0.109804,0.113725,0.109804,0.113725,0.109804,0.129412,0.105882

In [60]:
df_test['Class'] = output_test
df_test

,0,1,2,3,4,5,6,7,8,9,...,39991,39992,39993,39994,39995,39996,39997,39998,39999,Class
0,0.117647,0.105882,0.113725,0.109804,0.113725,0.121569,0.117647,0.113725,0.113725,0.109804,...,0.109804,0.101961,0.113725,0.109804,0.121569,0.109804,0.101961,0.129412,0.105882,0
1,0.117647,0.109804,0.109804,0.109804,0.113725,0.113725,0.117647,0.109804,0.113725,0.109804,...,0.113725,0.109804,0.113725,0.109804,0.121569,0.105882,0.117647,0.117647,0.109804,1
2,0.109804,0.121569,0.105882,0.117647,0.129412,0.101961,0.121569,0.109804,0.113725,0.113725,...,0.113725,0.113725,0.109804,0.113725,0.109804,0.113725,0.109804,0.129412,0.105882,2

In [61]:
x_test = df_test.iloc[:, 0:-1]
x_test.shape

(3, 40000)

In [62]:
x_test = np.array(x_test).reshape((-1, 200, 200 ,1))
x_test.shape

(3, 200, 200, 1)

In [63]:
y_test = df_test.Class
y_test.shape

(3,)

In [64]:
p = model.predict(x_test)
p = np.argmax(p, axis=1)
p.shape

(3,)

In [65]:
np.mean(p == y_test)

1.0

In [66]:
model.save_weights('cnn.h5')

In [67]:
import tensorflow.keras as keras
from tensorflow.keras import layers
import tensorflow as tf

def load_model():
    m = keras.Sequential()
    # add the hidden layers to the CNN
    m.add(layers.Conv2D(64, 3, activation='relu', input_shape=(200, 200, 1)))  # hidden layers
    m.add(layers.MaxPooling2D((2, 2)))
    m.add(layers.Conv2D(64, 1, activation='relu'))  # more layers ...
    m.add(layers.MaxPooling2D((2, 2)))
    m.add(layers.Conv2D(64, 1, activation='relu'))
    m.add(layers.Dropout(0.1))
    m.add(layers.Flatten())
    m.add(layers.Dense(64, activation='relu'))
    m.add(layers.Dense(32, activation='relu'))
    m.add(layers.Dense(3, activation='softmax'))  # get the softmax
    
    m.load_weights('cnn.h5')
    return m

In [68]:
loaded_model = load_model()

In [70]:
pred = loaded_model.predict(x)
p = np.argmax(pred, axis=1)
p.shape

(9000,)

In [71]:
np.mean(p == y)

0.9988888888888889